.instrument-panel-positioner {
    position: absolute;
    left: 50%;
}
.instrument-panel {
    width: 800px;
    position: absolute;
    left: -400px;
    z-index: 100;
    background-color: #ddd;
    padding: 8px;
}

.instrument-panel label {
    padding-right: 4px;
}

.section {
    clear: both;
}

.toolbar {
    background-color: #eee;
    padding: 4px;
}

#instrument {
    width: 200px;
}

#master-volume-container {
    float: right;
}

.left-col {
    float: left;
}
.scope {
    display: block;
    border: 1px solid black;
    margin: 10px 0;
}

#parameters {
    float: left;
    margin-left: 1em;
}

#parameters fieldset {
    float: left;
}

#parameters fieldset[disabled] {
    opacity: 0.5;
}
#harmonics {
    margin: 0;
    padding: 0;
}
#harmonics li {
    display: inline;
}
#harmonics input {
    width: 3em;
}

#scrub {
    width: 400px;
}

#keyboard {
    position: relative;
    height: 100px;
}
.key {
    position: absolute;
    font-size: 8pt;
}
.key.white {
    height: 100px;
    width: 32px;
    z-index: 0;
    background-color: white;
    color: black;
}
.key.black {
    height: 50px;
    width: 28px;
    z-index: 1;
    background-color: black;
    color: white;
}
.key.active {
    background-color: gray;
}

.output {
    float: left;
    width: 400px;
}
.output button {
    display: block;
    margin: 10px 0;
}
.output textarea {
    width: 100%;
    height: 400px;
}

.pattern-grid {
    display: block;
    font-family: monospace;
    position: relative;
    height: 500px;
    overflow-y: auto;
    border-collapse: collapse;
}
.pattern-grid .channel {
    border-left: 1px double black;
}
.pattern-grid tr.active-row {
    background-color: #dddd00;
}
.pattern-grid td {
    cursor: default;
}
.pattern-grid td:focus {
    outline: 1px solid black;
    background-color: #ffff88;
}
.pattern-grid .row-number {
    color: #444;
}